{% extends 'globals/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'problems/css/style.css' %}">
    <div class="distance" id="individual-problem">
    {% if fetched_problem %}
        {% for problem in fetched_problem %}
                <li class="emphasis middle">{{ problem.title }}</li>
                <li class="middle">{{ problem.input_type }}</li>
                <li class="middle">{{ problem.output_type }}</li>
                <li class="middle">time limit per test: {{ problem.time_limit }} second(s)</li>
                <li class="middle">memory limit per test: {{ problem.memory_limit }} megabytes</li>
                <li class="middle">{{ problem.difficulty }}</li>
                <li class="middle">{{ problem.tags }}</li>
                <li>{{ problem.description | linebreaksbr }}</li>

            {% if problem.note %}
            <li><b>Note:</b></li>
            <li>{{ problem.note }}</li><br>
            {% endif %}
            
            {% if problem.source %}
            <li>{{ problem.source }}</li><br>
            {% endif %}

            <pre>
                {% for test_case in test_cases %}
                <li><b>Input {{  forloop.counter }}:</b></li>
                <li>{{ test_case.input }}</li>
                <li><b>Output {{  forloop.counter }}:</b></li>
                <li>{{ test_case.output }}</li>
                {% endfor %}
            </pre>
            <li>Author: </li>
                <li>{{ problem.author }}</li><br>
                {% endfor %}

            <form method="POST">
                {% csrf_token %}
                <div>
                    <label for="language">Language:</label>
                    {{ form.language }}
                </div>
                <label for="code">Source Code</label>
                <div>
                    {{ form.code }}
                </div>
                <div>
                    <button id="submit" type="submit">Submit</button>
                </div>
            </form>

    {% else %}
    <li class="distance">No problems available</li>
    {% endif %}
</div>
<script src="{% static 'globals/js/script.js' %}"></script>
{% endblock %}