{% extends 'globals/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'problems/css/style.css' %}">
    <div class="distance" id="individual-problem">
    {% if fetched_problem %}
        {% for problem in fetched_problem %}
                <li class="emphasis middle">{{ problem.title }}</li>
                <li class="middle">{{ problem.input_type }}</li>
                <li class="middle">{{ problem.output_type }}</li>
                <li class="middle">{{ problem.time_limit }}</li>
                <li class="middle">{{ problem.memory_limit }}</li>
                <li class="middle">{{ problem.difficulty }}</li>
                <li class="middle">{{ problem.tags }}</li>
                <li>{{ problem.description | linebreaksbr }}</li>

            {% if problem.note %}
            <li>{{ problem.note }}</li><br>
            {% endif %}
            
            {% if problem.source %}
            <li>{{ problem.source }}</li><br>
            {% endif %}

            {% for test_case in test_cases %}
            <li>{{ test_case.input }}</li><br>
            <li>{{ test_case.output }}</li><br>
            {% endfor %}
            <li>{{ problem.author }}</li><br>
            {% endfor %}
    {% else %}
    <li class="distance">No problems available</li>
    {% endif %}
</div>
{% endblock %}