{% extends 'globals/base.html' %}
{% load static %}

{% block content %}
<div id="problem-list-main" class="distance">
    <link rel="stylesheet" href="{% static 'problems/css/style.css' %}">
    {% if fetched_problems %}
        {% for problem in fetched_problems %}
            <div>
                <ul>
                    <li>
                        <b>{{ problem.id }}</b>
                        <a href="{% url 'getproblem' problem.id %}">{{ problem.title }}</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
    <ul>
        <li class="distance">No problems available</li>
    </ul>
    {% endif %}
</div>
{% endblock %}