{% extends 'globals/base.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <div class="distance" id="blogs">
        {% if latest_posts %}
            {% for item in latest_posts %}
            <div>
                <ul>
                    <li class="emphasis">{{ item.title }}</li>
                    <li>{{ item.content }}</li>
                    <p>---</p>
                    <li class="top-margin">
                        <span class="reaction-container">
                            <img class="reactions-count" src="{% static 'home/image/like.jpg' %}" alt="Likes">
                            <span>{{ item.like }}</span>
                        </span>
                        <span class="reaction-container">
                            <img class="reactions-count" src="{% static 'home/image/dislike.jpg' %}" alt="Dislikes">
                            <span>{{ item.dislike }}</span>
                        </span>
                    </li>
                    <br>
                    
                    <li class="right">{{ item.created_at }}</li>
                </ul>
            </div>
            {% endfor %}
        {% else %}
            <h2>No posts yet</h2>
        {% endif %}
    </div>
{% endblock %}