* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 1.5rem;
}

#info {
    overflow: auto;
}

img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    float: left;
}

#account-action {
    float: right;
    margin: 1rem;
}

nav {
    border: 1px solid black;
    padding: .3rem;
    border-radius: 0.2rem;
}

ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

#info li a {
    text-decoration: none;
    color: black;
}

nav li a {
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

textarea {
    font: inherit;
    padding: 0.2rem;
}

textarea:focus {
    outline: none;
    border: 2px solid hsl(7, 75%, 43%);
}

select {
    font: inherit;
    padding: 0.2rem;
}

#submit {
    font:inherit;
    padding: 0.3rem;
}

.error {
    color: red;
}

.distance {
    margin: 0.5rem;
}

.emphasis {
    font-weight: bold;
}