table {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
}

.middle {
    display: block;
    text-align: center;
}

#solved-icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
}