* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#blogs ul {
    list-style: none;
    margin: 20px 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

#blogs ul li {
    display: block;
    line-height: 1.5;
}

.right {
    float: right;
}

.reaction-container {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
}

.reactions-count {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.top-margin {
    margin-top: 1rem;
}