{% extends 'globals/base.html' %}
{% load static %}

{% block content %}
    <div class="distance">
        <h2>Profile</h2>
        <div class="distance">
            <p><b>Username: </b> {{ user.username }}</p>
            <p><b>Email: </b>{{ user.email }}</p>
        </div>
        <div class="distance">
            <h3>Personal Information</h3>
            <p><b>Name:</b> {{ user.name }}</p>
            <p><b>Institution:</b> {{ user.university }} </p>
            <p><b>Country:</b> {{ user.country }}</p>
            <p><b>City:</b> {{ user.city }}</p>
        </div>
        <div class="distance">
            <h3>Account Activity</h3>
            <p><b>Account Created:</b> {{ user.created_at }}</p>
            <p><b>Last Login:</b> {{ user.last_login }}</p>
        </div>
    </div>
{% endblock %}