{% extends 'globals/base.html' %}
{% load static %}

{% block content %}
    <div class="distance">
        <h2>Profile</h2>
        <div class="distance">
            <p><b>Username: </b> {{ user.username }}</p>
            <p><b>Email: </b>{{ user.email }}</p>
        </div>
        <div class="distance">
            <h3>Personal Information</h3>
            <p><b>First Name:</b> {{ user.first_name }}</p>
            <p><b>Last Name:</b> {{ user.last_name }}</p>
            <p><b>Country:</b> {{ user.profile.country }}</p>
            <p><b>City:</b> {{ user.profile.city }}</p>
            <p><b>Address:</b> {{ user.profile.address }}</p>
            <p><b>Phone:</b> {{ user.profile.phone }}</p>
        </div>
        <div class="distance">
            <h3>Account Activity</h3>
            <p><b>Account Created:</b> {{ user.created_at }}</p>
            <p><b>Last Login:</b> {{ user.last_login }}</p>
        </div>
    </div>
{% endblock %}