{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shishu-Online-Judge</title>
    <link rel="stylesheet" href="{% static 'globals/css/style.css' %}">
    <link rel="icon" href="{% static 'globals/image/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <div id="info">
        <div>
            <img src="{% static 'globals/image/main_logo.jpg' %}" alt="Shishu-Online-Judge">
            <h1>Shishu Online Judge</h1>
        </div>
        <div id="account-action">
            <ul>
                <li><a href="#">User</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
    <nav class="distance">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Problems</a></li>
            <li><a href="{% url 'contests' %}">Contests</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="{% url 'customtest' %}">Custom Test</a></li>
            <li><a href="{% url 'documentations' %}">Documentation</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    {% block content %} {% endblock %}

</body>

</html>