{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shishu-Online-Judge</title>
    <link rel="stylesheet" href="{% static 'globals/css/style.css' %}">
    <link rel="icon" href="{% static 'globals/image/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'globals/js/script.js' %}"></script>
</head>

<body>
    <div class="menu-icon" id="menuIcon" onclick="expand(this)">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="info">
        <div id="logo-container">
            <img src="{% static 'globals/image/main_logo.png' %}" alt="Shishu-Online-Judge">
            <div id="name">
                <h1>Shishu Online Judge</h1>
                <h5>Inspired by Codeforces</h5>
            </div>
        </div>
        <div id="account-action">
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' request.user.username %}">{{ request.user.username }}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
                <li>|</li>
                <li>
                    {% if request.user.is_authenticated %}
                        <form id="system-logout" method="POST" action="{% url 'logout' %}?next={{ request.path }}">
                            {% csrf_token %}
                            <button type="submit">
                                Logout
                            </button>
                        </form>
                    {% else %}
                        <a href="{% url 'register' %}?next={{ request.path }}">Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    
    <nav class="distance">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'problems' %}">Problemset</a></li>
            <li><a href="{% url 'contests' %}">Contests</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="{% url 'customtest' %}">Custom Test</a></li>
            <li><a href="{% url 'documentations' %}">Documentation</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    {% block content %} {% endblock %}

</body>

</html>