{% extends 'globals/base.html' %}
{% load static %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label class="distance emphasis" for="language">Language:</label>
                {{ form.language }}
            </div>
            <label class="distance emphasis" for="code">Source Code</label>
            <div>
                {{ form.code }}
            </div>
            <div>
                <label class="distance emphasis" for="stdinput">Standard Input:</label><br>
                {{ form.input_data }}
            </div>
            <div>
                <button class="distance" id="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script src="{% static 'globals/js/script.js' %}"></script>
{% endblock %}